.footer {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
   padding: 2px;
}

.contacts {
   font-family: Gotham Pro;
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 200%;
   color: white;
   /* or 28px */

   letter-spacing: 0.02em;
}

